body {
    font-family: 'Fira Code', monospace;
    margin: 0;
    line-height: 1.6;
    background: #58605b;
    color: #f9f9f9;
    /*
    background: #f9f9f9;
    #58605b
    color: #333;
    */
  }
  
  header {
    background: #58605b;
    color: white;
    padding: 2rem;
    text-align: center;
  }
  
  nav {
    background: #eee;
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 1rem 0;
  }
  
  nav a {
    text-decoration: none;
    color: #58605b;
    font-weight: bold;
  }
  
  section {
    padding: 2rem;
    max-width: 800px;
    margin: auto;
  }

  #about {
    max-height: 100px;
  }

  #contact {
    max-height: 135px;
  }
  
  .project {
    background-color: #1a1a1a;
    padding: 1.5rem;
    margin: 1rem 0;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    color: white;
  }
  .project a {
    color: #97b2c0; /* or whatever color matches your style */
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
  }
  .project a:hover {
    color: #ffcc00; /* hover effect color */
    text-decoration: underline;
  }
  
  footer {
    text-align: center;
    padding: 1rem;
    background: #ddd;
    color:#58605b;
    margin-top: 2rem;
  }

  .edu p {
    margin: 0.2rem 0;
    line-height: 1.3;
  }
  
  .ascii {
    font-family: 'Press Start 2P', monospace;
    font-size: 2.1rem;  /* looks awesome and resizes well */
    text-align: center;
    color: #c2e8f7;
    /*color: #72b6d1;*/
    margin-bottom: 1rem;
  }

  #contact a {
    color: white; /* or any color you like */
    text-decoration: none; /* removes the underline */
    font-weight: bold;
    transition: color 0.3s ease;
  }
  
  #contact a:hover {
    color: #ffcc00; /* change on hover */
  }

  .game {
    background-color: #1a1a1a;
    padding: 1.5rem;
    margin: 1rem 0;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    color: white;
  }

  .insert-coin {
    font-family: 'Press Start 2P', monospace;
    font-size: 1.1rem;  /* Adjust size as needed */
    
    color: #45c71d;  /* Green for that retro vibe */
  }


  /* Tic tac toe*/
  #status {
    margin: 10px 0;
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  #board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 10px;
    justify-content: center;
    margin: 20px auto;
  }
  
  .cell {
    width: 100px;
    height: 100px;
    background-color: #eee;
    font-size: 2rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
    border-radius: 8px;
    color: black;
  }
  
  .cell:hover {
    background-color: #ddd;
  }
  
  #restart {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
  }